*,
body,
input[type="text"],
input[type="date"] {
  background-color: #2e3440;
  color: #d8dee9;
}

textarea {
  background-color: #2e3440 !important;
  color: #d8dee9 !important;
}

.card {
  border-width: 0;
}
