<div class="form-group">
    <label for="title">title</label>
    <input required value="<%= todo.title %>" type="text" name="title" id="title"
    class="form-control">
</div>
<div class="form-group">
    <label for="description">description</label>
    <textarea type="text" name="description" 
    id="description" class="form-control" autofocus=""><%= todo.description ? todo.description.trim() todo.description%></textarea>
</div>
<div class="form-group">
    <label for="date">date</label>
    <input required 
        value="<%= todo.date ? todo.date.toISOString().substr(0, 10) : null%>" 
        type="date" 
        name="date" id="date" class="form-control"
    >
</div>
<br>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>